.options-list label {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5rem;
}

.options-list select {
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 1.875rem 1.25rem;
    font-size: 1rem;
    outline-color: #6278F7;

}